:root {
	--rojo: #E50914;
	--fondo: #141414;
}
h1{
	color:#FFF;

}
label{
	color: #FFF;
}
.contenedor a{
	text-decoration: none;
	color:#E50914;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 25px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/backdrop.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */

.peliculas-recomendadas .contenedor-carousel {
	filter: drop-shadow(0 0 0.50rem gray);
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .4s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.15);
	transform-origin: center;
	z-index: 99;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	vertical-align: top;
}

/*--------------------------------------------------------------------*/

.peliculas-recomendadas .contenedor-carousel .carousel .peliculaa {
	min-width: 20%;
	transition: .4s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .peliculaa.hover {
	transform: scale(1.15);
	transform-origin: center;
	z-index: 99;
}

.peliculas-recomendadas .contenedor-carousel .carousel .peliculaa img {
	vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-accion .contenedor-accion-carousel{
		overflow: visible;
	}

	.peliculas-accion .contenedor-romance-carousel{
		overflow: visible;
	}

	.peliculas-accion .contenedor-terror-carousel{
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-accion .contenedor-accion-carousel .carousel2 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-accion .contenedor-romance-carousel .carousel3 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-accion .contenedor-terror-carousel .carousel3 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}

}

/* ACCION */
/* CONTENEDOR Y FLECHAS */

.peliculas-accion {
	filter: drop-shadow(0 0 0.50rem gray);
	margin-bottom: 70px;
}

.peliculas-accion .contenedor-accion {
	display: flex;
	align-items: center;
	position: relative;
}

/* Carousel */

.peliculas-accion .contenedor-accion-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-accion .contenedor-accion-carousel .carousel2 {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-accion .contenedor-romance-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-accion .contenedor-romance-carousel .carousel2 {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-accion .contenedor-terror-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-accion .contenedor-terror-carousel .carousel2 {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-accion .contenedor-accion-carousel .carousel2 .peliculaa {
	min-width: 20%;
	transition: .4s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-accion .contenedor-accion-carousel .carousel2 .peliculaa.hover {
	transform: scale(1.15);
	transform-origin: center;
	z-index: 99;
}

.peliculas-accion .contenedor-romance-carousel .carousel2 .peliculaa {
	min-width: 20%;
	transition: .4s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-accion .contenedor-romance-carousel .carousel2 .peliculaa.hover {
	transform: scale(1.15);
	transform-origin: center;
	z-index: 99;
}

.peliculas-accion .contenedor-terror-carousel .carousel2 .peliculaa {
	min-width: 20%;
	transition: .4s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-accion .contenedor-terror-carousel .carousel2 .peliculaa.hover {
	transform: scale(1.15);
	transform-origin: center;
	z-index: 99;
}

.peliculas-accion .contenedor-terror-carousel .carousel2 .peliculaa.peliculaa.hover{
	vertical-align: top;
}



/* Control, titulo y controles */

.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

/* ----------------- Peliculas secundarias -------------------------------- */
/*STRANGE*/
.pelicula-strange {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/peliculas/backimg-strange.webp);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-strange .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-strange .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-strange .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}
/*Sonic 2*/
.pelicula-sonic {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/peliculas/back-sonic-2.webp);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-sonic .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-sonic .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-sonic .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/*Gato con botas*/
.pelicula-gato {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/peliculas/back-gato.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-gato .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-gato .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-gato .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}
/*Moon knight*/
.pelicula-moon {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/peliculas/back-moon.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-moon .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-moon .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-moon .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}
/*Spider man*/
.pelicula-spider {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/peliculas/back-spider.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-spider .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-spider .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-spider .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/*Obi-Wan Kenobi*/
.pelicula-obi{
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/peliculas/back-obi.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}
.pelicula-obi .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-obi .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-obi .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/* Minons */

.pelicula-minions{
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/peliculas/back-minions.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}
.pelicula-minions .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-minions .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-minions .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/* Jujutsu */

.pelicula-jujutsu{
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/peliculas/back-jujutsu.webp);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}
.pelicula-jujutsu .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-jujutsu .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-jujutsu .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/* 365 Days */

.pelicula-365{
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/peliculas/back-365.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}
.pelicula-365 .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-365 .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-365 .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/* Hover personalizado */

.ksyo {
	transition: 0.5s;
	filter: drop-shadow(0 0 0.50rem gray);
}

.ksyo :hover{
	transform: scale(1.08);
	transform-origin: center;
	position: relative;
	transition: 0.7s;
	z-index: 99;
}



